.container {
    height: calc(100vh - 60px);
    width: 100%;
    margin-top: 5.5rem;
    margin-bottom: -5.5rem ;
    
}
.wrapper {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.title {
    color: #02dec2;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
    white-space: nowrap;
}
.firstMsg {
    margin-bottom: 24px;
    font-size: 32px;
}
.firstMsg > span {
    color: #02dec2;
    font-weight: bold;
    font-size: 26px;
}
.secondMsg {
    font-size: 26px;
}
.secondMsg > span {
    font-weight: bold;
    color: #00dfc0;
}
.desc {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    max-width: 350px;
    line-height: 30px;
}
.buttons {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 12px;
}
.buttons > button {
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 1.25rem;
    color: #fff;
    background-color: #02dec2;
    border-radius: 8px;
    font-size: 18px;
    transition: 150ms all;
    cursor: pointer;
}
.buttons > button:hover {
    border-color: #02dec2;
    background-color: #fff;
    color: #02dec2;
}
.buttonSee > a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}
.right {
    flex: 1;
}
.imgHero {
    height: 85%;
    width: 90%;
    object-fit: cover;
}